body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header{
    margin: 52px 0;
}

.nav_li{
    display: inline-block;
}

.nav_li:not(:last-of-type){
    margin: 47px;
}


.nav_ul{
    text-align: center;
}

.nav_link{
    font-size: 18px;
    line-height: 25px;
    font-weight: 700px;
    text-decoration: none;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.description{
    background-color: rgba(26, 110, 136, 0.71);
    text-align: center;
    padding: 133px 0;
}

.description_text{
    max-width: 726px;
    font-size: 36px;
    line-height: 49px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0 auto;
}

.background{
    text-align: center;
    padding: 138px 0;
    background-image: url(../img/pexels-harrison-candlin-2441454\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.background-title{
    font-size: 72px;
    line-height: 98px;
    color: #FFFFFF;
    margin: 0 auto 14px;

}

.description_button{
    width: 420px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-size: 36px;
    font-weight: 700px;
    line-height: 49px;
}


.form-section{
    margin-bottom: 123px auto 100px;
    max-width: 647px;
}

.input{
    width: 647px;
    height: 96px;
    padding: 36px 0 11px 34px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.label{
    position: absolute;
    left: 31px;
    top: 14px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.input_wrapper{
    position: relative;
    margin-bottom: 41px;
}

.input::placeholder{
    font-size: 36px;
    line-height: 49px;
    color: #000;
}

.form_buttom{
    width: 100%;
    height: 92px;
    background-color: #5C98AB;
    border: none;
    font-size: 36px;
    line-height: 49px;
    font-weight: 700px;
    color: #FFFFFF;
}
.text{
    max-width: 696px;
    margin: 200px auto 0;
    position: relative;
    height: 246px;
    Font-size: 36px;
    line-height: 42px;
    font-weight: 400px;
    text-align: center;
}

.text::before{
    content: '';
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    right: 950px;
    top: -88px;
}

.text::after{
    content: '';
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    top: -10px;
    left: 950px;
}

.text_circle{
    max-width: 696px;
    margin: 200px auto 0;
    position: relative;
    padding: 123px;
    height: 246px;
    Font-size: 36px;
    line-height: 42px;
    font-weight: 400px;
    text-align: center;
}

.text_circle::before{
    content: '';
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #5C98AB;
    position: absolute;
    left: -20px;
    top: -20px;
}

.text_circle::after{
    content: '';
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #BFDEFB;
    position: absolute;
    right: 32px;
}

.text_section{
    max-width: 696px;
    margin: 200px auto 0;
    position: relative;
}

.text_section::after{
    content: '';
    width: 178px;
    height: 121px;
    background-color: #BFDEFB;
    position: absolute;
    right: 950px;
    top: 125px;   
}

